<div id="contents_container">

    <div id="mainmenu">
      <ul class="submenu">
	<% get_events_menu_items(@menu).each do |menu_item| %>
	<li class="menu"><%= menu_item -%></li>
	<% end %>
      </ul>
    </div>
  <div id="event_panel">
  <% if @pages and @pages.item_count > 0 -%>

    <div class="navi"><%= page_link @pages -%></div>

    <table class="event_box" border="1">
      <tr>
        <th>タイトル</th>
        <th>開催日時</th>
        <th>場所</th>
      </tr>
         <% for event in @events %>
      <tr>
        <td><%= event_link_to event %></td>
        <td><%=h event.event_fixed_date ? event.holdingDatetime : "開催日が確定していません" %></td>
        <td><div class="hiki_style"><%= event.place %></td>
      </tr>
      <% end %>
    </table>

    <div class="navi"><%= page_link @pages -%></div>

    <% end %>

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->
  </div>
