<%= template_error_messages_for 'event' %>

<div id="contents_container">

    <div id="mainmenu">
      <ul class="submenu">
        <% get_events_menu_items(@menu,@participation).each do |menu_item| %>
        <li class="menu"><%= menu_item -%></li>
        <% end %>
      </ul>
    </div>

  <div id="event_panel">

    <% form_tag({:action => "event_create" }, :id=>'event_form') do -%>

    <div class="input_line">
      <div class="input_line">
        <div class="input_label">名称</div>
        <div class="input_value"><%= text_field 'event', 'name', :size =>60 %></div>
        <div style="clear: left"></div>
      </div>
      <div class="input_line">
        <div id="dates_area"><% @event.event_dates.each_with_index do |date, index| -%><div>
            <div style="margin-top:5px;">
              <div class="input_label" id="dates_header" style="height: 35px;">開催日／<br/>候補日（<%= index+1 %>）</div>
              開始時刻：<%= text_field_tag "start_date_#{index}", (date.start_time.strftime('%Y/%m/%d') if date.start_time), :maxlength => 15, :class => 'datepicker' -%>
              <%= select("date[index_#{index}]", "start_time", time_options, {:selected => (date.start_time.strftime('%H') + ":00" if date.start_time) }, {:style => "width: 100px;"}) -%>
              <br/>
              終了時刻：<%= text_field_tag "end_date_#{index}", (date.end_time.strftime('%Y/%m/%d') if date.end_time), :maxlength => 15, :class => 'datepicker' -%>
              <%= select("date[index_#{index}]", "end_time", time_options, {:selected => (date.end_time.strftime('%H') + ":00" if date.end_time) }, {:style => "width: 100px;"}) -%>
              <div style="clear: left"></div>
            </div>
          </div><% end -%></div>
        <div style="border-top: 1px dashed silver; margin-top: 5px;"><a id="append_date_link" href="#">[候補日を追加]</a><a id="remove_date_link" href="#" style="display:none">[候補日を削除]</a></div>
      </div>
    </div>

    <div class="input_line">
      <div class="input_label">説明</div>
      <div class="input_value" style="clear: left;"><%= text_area :event, :description, :class => 'invisible' %></div>
    </div>

    <div class="input_line">
      <div class="input_label">場所</div>
        <div class="input_value"><%= text_field 'event', 'place', :size =>60 %></div>
    </div>

    <div class="input_line">
      <div class="input_label" id="input_label_publication">公開範囲</div>
      <div class="input_value" id="input_value_publication">
        <%= radio_button_tag("publication_type", "public", params[:publication_type] == "public", :id=>"publication_type_public") -%>全体に公開
        <%= radio_button_tag("publication_type", "private", params[:publication_type] == "private", :id=>"publication_type_private") -%>イベントの参加者のみ
      </div>
      <div style="clear: left"></div>

    </div>

    <p><%= submit_tag "作成" %></p>

    <% end %>

  <div id="contents_bottom">
  </div><!-- contents_bottom -->
</div>
</div><!-- contents_container -->

<div id="dates_template" style="display:none;">
  <div style="margin-top:5px;">
    <div class="input_label" id="dates_header" style="height: 35px;">開催日／<br/>候補日（XXX）<br/></div>
    開始時刻：<%= text_field_tag "start_date_xxx", Time.now.strftime('%Y/%m/%d'), :maxlength => 15, :class => 'datepicker' -%>
    <%= select("date[index_xxx]", "start_time", time_options, {:selected => Time.now.strftime('%H') + ":00" }, {:style => "width: 100px;"}) -%>
    <br/>
    終了時刻：<%= text_field_tag "end_date_xxx", Time.now.strftime('%Y/%m/%d'), :maxlength => 15, :class => 'datepicker' -%>
    <%= select("date[index_xxx]", "end_time", time_options, {:selected => (Time.now + (60*60)).strftime('%H') + ":00" }, {:style => "width: 100px;"}) -%>
    <div style="clear: left"></div>
  </div>
</div>

<%= skip_javascript_include_tag "fckeditor/fckeditor" %>
<%= skip_jquery_include_tag "ui.datepicker" %>
<%= skip_stylesheet_link_tag "jquery.ui.datepicker.css" %>
<%= skip_javascript_include_tag "jquery/ui/i18n/ui.datepicker-ja.js" %>
<%= skip_jquery_include_tag "jquery.inplace" %>

<script type="text/javascript">
  $j(function() {

  $j('#append_date_link')
  .click(function() {
  index = $j('#dates_area').children().length;
  if(index >= 10) {
  alert("候補日は10日分までしか追加できません。");
  return false;
  }

    $j(document.createElement("div"))
       .append($j('#dates_template').html().replace(/xxx/g, index).replace(/XXX/g, (index+1)))
       .appendTo($j('#dates_area'));

        setDeleteDateLinkVisibility();
        return false;

    });

    $j('#remove_date_link')
    .click(function() {
        if ($j('#dates_area').children().length > 1) {
            $j('#dates_area').children(':last-child').remove();
        }
        setDeleteDateLinkVisibility();
        return false;
    });

    var setDeleteDateLinkVisibility = function() {
        if ($j('#dates_area').children().length > 1) {
            $j('#remove_date_link').show();
        } else {
            $j('#remove_date_link').hide();
        }
};

   $j('.datepicker' ).datepicker(
        $j.extend({},
            $j.datepicker.regional['<%= GetText.locale.to_s %>'],
            { duration: '',
              yearRange: '-0:10',
              showOn: 'both',
              buttonImage: platform_url_root + '/images/skip/jquery/ui.datepicker/calendar.png',
              buttonImageOnly: true
            }
        )
    );

     FCKeditor.BasePath = platform_url_root + "/javascripts/skip/fckeditor/";
     new FCKeditor('event_description', '98%', '350', 'Normal').ReplaceTextarea();


});
</script>
