<div id="contents_container">

    <div id="mainmenu">
      <ul class="submenu">
	<% get_events_menu_items(@menu,@participation).each do |menu_item| %>
	<li class="menu"><%= menu_item -%></li>
	<% end %>
      </ul>
    </div>

  <div id="event_panel">

    <div style="width: 98%;">
      <h1 id="title"><%=h @event.name %></h1>
    </div>

  <div id="contents_left">

    <div class="box_space">
      <div class="box_space_title">メニュー</div>
      <div class="box_space_body">
        <ul>
          <% get_event_menu_items(@menu,@event.id).each do |menu_item| %>
          <li><%= menu_item -%></li>
          <% end %>
        </ul>
      </div>
      <div class="box_space_bottom"></div>

      <% if @event.owner?(session[:user_id]) %>
      <div class="box_space_title">幹事メニュー</div>
      <div class="box_space_body">
        <ul>
          <% get_event_manage_menu_items(@menu,@event.id).each do |menu_item| %>
          <li><%= menu_item -%></li>
          <% end %>
        </ul>
      </div>
      <div class="box_space_bottom"></div>
      <% end %>

    </div><!-- box_space -->

  </div><!-- contents_left -->

  <div id="contents_right">

<div class="search_cond_space">
<% form_tag({:action => 'event'}, :method => 'get') do -%>
<%= hidden_field_tag("menu","event_attendance") %>
<%= hidden_field_tag("event_id",@event.id) -%>
<table class="search_cond_box">
  <tr>
    <th>氏名</th>
    <td><%= text_field_tag "user_name", params[:user_name] -%></td>
  </tr>
</table>
<div class="submit"><%= submit_tag '検索' -%></div>
<% end %>
</div>

<div class="search_result_space">
<% if @pages and @pages.item_count > 0 %>
  <div class="navi"><%= page_link(@pages) -%></div>
  <div style="margin: 10px">
  <table border="1" class="normal" style="table-layout: auto;">
    <tr>
      <th>氏名</th>
      <% @event.event_dates.each do |date| %>
        <% color = (fixed_date?(@event, date) ? 'red' : 'black') %>
        <th>
            <div style="font-size:11px;color:<%= color -%>"><%= date.to_s  %></div>
            <div style="font-weight:normal;margin-top:3px"><%= generate_fixed_date_menu @event, date, @owner %></div>
            <!-- <div style="margin-top:3px;border-top:1px dotted silver"><%= icon_tag('emoticon_happy') + ":5" -%>人</div> -->
        </th>
      <% end %>
    </tr>

    <% @participations.each do |participation| -%>
      <tr style="background-color:<%= (session[:user_id] == participation.user_id ? '#FFE8FF' : 'white') -%>">

        <td><%= participation.user.name -%></td>
        <% @event.event_dates.each do |date| -%>
          <% span_id = "attendee_state_[#{@event.id}][#{date.id}][#{participation.user_id}]" -%>
          <% editable = @owner || participation.user_id == session[:user_id] -%>
          <td>
            <span id="<%= span_id -%>"><%= show_attendees_state(date, @attendees_hash[date.id][participation.user_id]) -%></span>
            <% if editable -%>
              <%= generate_attendee_menu({:event => @event,
                                          :date => date,
                                          :attendee => @attendees_hash[date.id][participation.user_id],
                                          :user_id => participation.user_id,
                                          :owner => @owner }) -%>
            <% end -%>
            <%= render :partial => "editable_comment", :locals => {:date => date, :participation => participation, :editable => editable } -%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  </div>
  <div class="navi"><%= page_link(@pages) -%></div>
<% else %>
  <p>検索条件にヒットしませんでした。</p>
<% end %>
</div>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->
</div><!-- event_panel -->
</div><!-- contents_container -->

<%= skip_jquery_include_tag "jquery.inplace" %>
<script type="text/javascript">
$j(function() {
    var post_comment_url = "<%= url_for(:action => :ado_update_attendee_comment) -%>";
    $j('.editable_comment').editInPlace({
        url: post_comment_url,
        params: 'authenticity_token='+$j('#authenticity_token').val(),
        update_value: 'comment',
        default_text: 'クリックしてコメント入力',
        save_button: '<a href="#" class="inplace_save">[保存]</a>',
        cancel_button: '<a href="#" class="inplace_cancel">[キャンセル]</a>'
    });

    // 出席、欠席リンククリック時の動作を設定
    addAttendeeLinkClick('<%= url_for :action => :attend %>', true);
    addAbsenteeLinkClick('<%= url_for :action => :absence %>', true);
});
</script>
