<div id="contents_container">

    <div id="mainmenu">
      <ul class="submenu">
	<% get_events_menu_items(@menu).each do |menu_item| %>
	<li class="menu"><%= menu_item -%></li>
	<% end %>
      </ul>
    </div>

  <div id="event_panel">
    <div style="width: 98%;">
      <h1 id="title"><%=h @event.name %></h1>
    </div>

  <div id="contents_left">

    <div class="box_space">
      <div class="box_space_title">メニュー</div>
      <div class="box_space_body">
        <ul>
          <% get_event_menu_items(@menu,@event.eid).each do |menu_item| %>
          <li><%= menu_item -%></li>
          <% end %>
        </ul>
      </div>
      <div class="box_space_bottom"></div>

      <% if @event.owner?(session[:user_id]) %>
      <div class="box_space_title">幹事メニュー</div>
      <div class="box_space_body">
        <ul>
          <% get_event_manage_menu_items(@menu,@event.eid).each do |menu_item| %>
          <li><%= menu_item -%></li>
          <% end %>
        </ul>
      </div>
      <div class="box_space_bottom"></div>
      <% end %>

    </div><!-- box_space -->

  </div><!-- contents_left -->

  <div id="contents_right">

  <% form_tag({:action => :event_update, :eid => @event.eid}) do -%>
  <%= template_error_messages_for 'event' %>

  <div class="input_line">
    <div class="input_label">イベントID</div>
    <div class="input_value"><%= @event.eid -%></div>
  </div>

  <div class="input_line">
    <div class="input_label">名称</div>
    <div class="input_value"><%= text_field 'event', 'name', :size =>60 %></div>
  </div>
  <div class="input_line">
    <div class="input_label">説明</div>
      <div  class="input_value" ><%= text_area :event, :description, :class => 'invisible' %></div>
  </div>

  <div class="input_line">
    <div class="input_label">場所</div>
    <%= text_field 'event', 'place', :cols => 60 %>
  </div>

  <div class="input_line">
    <div class="input_label" id="input_label_publication">公開範囲</div>
    <div class="input_value" id="input_value_publication">
      <%= radio_button_tag("publication_type", "public", params[:publication_type] == "public", :id=>"publication_type_public") -%>全体に公開
      <%= radio_button_tag("publication_type", "private", params[:publication_type] == "private", :id=>"publication_type_private") -%>イベントの参加者のみ
    </div>
  </div>
  <p><%= submit_tag "更新" %></p>

  <% end %>

<div class="desc">
  <%= link_to("[[削除する]]", {:action => 'event_destroy', :event_id => @event.id}, :confirm => '本当に削除しますか？', :method => :post ) %>
</div>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->
</div><!-- event_panel -->
</div><!-- contents_container -->

<%= skip_javascript_include_tag "fckeditor/fckeditor" %>
<script type="text/javascript">
  $j(function() {

     FCKeditor.BasePath = platform_url_root + "/javascripts/skip/fckeditor/";
     new FCKeditor('event_description', '98%', '350', 'Normal').ReplaceTextarea();

});
</script>
