<div id="contents_container">

  <div id="event_panel">

  <div id="contents_left">

    <div class="box_space">
      <div class="box_space_title">メニュー</div>
      <div class="box_space_body">
        <ul>
	  <% get_events_menu_items(@menu,@participation).each do |menu_item| %>
          <li><%= menu_item -%></li>
          <% end %>
        </ul>
      </div>
      <div class="box_space_bottom"></div>
    </div><!-- box_space -->

    <div class="box_space">
      <div class="box_space_title"><%= icon_tag 'find' -%>検索</div>
      <div class="box_space_body">
	<% form_tag({:action => "event"}, {:method => :get}) do %>
	<%= text_field_tag('keyword', params[:keyword], :size=>'10') %>
	<%= submit_tag "検索" %><br/>
	<%= check_box_tag("include_past_event","true",params[:include_past_event]) %>過去のイベントを含めて表示
	<% end %>
      </div>
    </div><!-- box_space -->

  </div><!-- contents_left -->

  <div id="contents_right">
  
  <% if @pages and @pages.item_count > 0 -%>

    <div class="navi"><%= page_link @pages -%></div>

    <table class="event_list_box normal">
      <h2>開催日確定のイベント</h2>
      <% for event in @events %>
      <% if event.date_fixed? %>
      <tr>
        <td rowspan="5" bgcolor="lightyellow"><%= event_link_to event %></td>
      <tr>
        <th>開催日時</th>
        <td><%=h event.date_fixed? ? event.holdingDatetime : "開催日が確定していません" %></td>
      </tr>
      <tr>
        <th >場所</th>
        <td><div class="hiki_style"><%= event.place %></td>
      </tr>
      <tr>
        <th>幹事</th>
        <td><%= event.event_admin_users %></td>
      </tr>
      <tr>
        <th>出席人数</th>
	<td><% if event.date_fixed? %>
	  <%= event.holding_date.event_attendees.select{|at| at.state == "attend" }.size -%>人
	  <% end %>
	</td>
      </tr>
      </tr>
      <% end %>
      <% end %>
    </table>

    <table class="event_list_box normal">
      <h2>開催日未確定のイベント</h2>
      <% for event in @events %>
      <% unless event.date_fixed? %>
      <tr>
        <td width="30%" rowspan="5" bgcolor="pink"><%= event_link_to event %></td>
      </tr>
      <tr>
        <th width="10%">開催日時</th>
        <td width="75%"><%=h event.date_fixed? ? event.holdingDatetime : "開催日が確定していません" %></td>
      </tr>
      <tr>
        <th >場所</th>
        <td><div class="hiki_style"><%= event.place %></td>
      </tr>
      <tr>
        <th>幹事</th>
        <td><%= event.event_admin_users %></td>
      </tr>
      <tr>
        <th>出席人数</th>
	<td><% if event.date_fixed? %>
	  <%= event.holding_date.event_attendees.select{|at| at.state == "attend" }.size -%>人
	  <% end %>
	</td>
      </tr>
      <% end %>
      <% end %>
    </table>

    <div class="navi"><%= page_link @pages -%></div>

    <% end %>

<div id="contents_bottom">
</div><!-- contents_bottom -->
  </div><!-- contents_right -->
  </div>
</div><!-- contents_container -->

